@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.radix-themes {
	--default-font-family:  'Atkinson Hyperlegible', serif;
}

:root {
	--learning-card-min-width: 840px;
	--learning-card-block-height: var(--line-height-5);
	--background-graydient: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%);
}

body,
html {
	min-width: 100%;
	margin: 0;
}

html,
body,
#root {
  min-height: 100%;
  scroll-behavior: smooth;
}
/* COMPONENTS */

#nav-bar-panel {

	background-color: var(--accent-surface);
	--card-border-radius: 0;
	--card-border-width: 1px;
	--backdrop-filter-panel: blur(4px);


	position: fixed;
	z-index: 1;
	width: 100%;
	top: -1px; 
	padding: 0;
	margin: 0;

}

/* BLOCKS */

.block {
	width: var(--learning-card-min-width);
	background-color: transparent;
	min-height: var(--learning-card-block-height);
}

#block-callout.rt-TextAreaInput {
	font-size: var(--font-size-4);
	line-height: var(--line-height-5);
	letter-spacing: var(--letter-spacing-4);
}

#block-text.rt-TextAreaInput { 
	font-size: var(--font-size-4);
	line-height: var(--line-height-5);
	letter-spacing: var(--letter-spacing-4);
	
}


